* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    height: 8vh;
    background-color: rgb(249, 245, 237);
    position: relative;
    display: flex;
    justify-content: center;

    z-index: 999;
}

.navbar {
    width: 90%;
    z-index: 1000;

    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 10%;
    height: 75%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;

    color: rgb(33, 33, 33);
    font-weight: 700;
    font-size: small;
}
.links a:hover{
    color: gray;
}

.ai {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    padding: 5px 10px;
    width: fit-content;
}

.ai img {
    width: 20px;
    height: 20px;
}

.dropdown {
    position: relative;
    z-index: 10005;
}

.dropdownMenu {
    width: 190px;

    position: absolute;
    top: 22px;
    right: 0;

    background-color: white;
    z-index: 99999 !important;
    border-radius: 15px;

    display: none;
    flex-direction: column;

    overflow: hidden;
}

.dropdownMenu a {
    padding: 10px 20px;
    font-weight: 500;
    color: black;
}

.dropdownMenu a:hover {
    background-color: rgb(253, 249, 244);
}

.dropdown:hover .dropdownMenu {
    display: flex;
}

/* Hamburger */
.hamburger {
    display: none;
    color: rgb(0, 0, 0);
    font-size: 32px;
    cursor: pointer;
}

/* Tablet */
@media (max-width:991px){

    .navbar{
        width: 90%;
    }

    .links{
        gap:20px;
    }

}

/* Mobile */
@media (max-width: 768px) {

    .main {
        height: 70px;
        position: relative;
        z-index: 9999;
    }

    .navbar {
        width: 90%;
        position: relative;
        z-index: 10000;
    }

    .logo {
        width: 120px;
        height: auto;
    }

    .hamburger {
        display: block;
        z-index: 10002;
    }

    .links {
        position: fixed; 
        top: 70px;
        left: 0;
        right: 0;
        width: 100vw; 
        
           background-color: rgb(249, 245, 237);

        flex-direction: column;
        align-items: center;
        gap: 0;

        max-height: 0;
        overflow: hidden;
        transition: 0.4s , padding 0.3s ease;
        
        z-index: 99999; 
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    }

    .showMenu {
        max-height: 80vh;
        padding: 20px 0;
        overflow-y: auto;
    }

    .links > a, 
    .links > div {
        width: 100%;
        text-align: center;
        padding: 12px 0;
    }

    .ai {
        padding: 10px 15px;
        justify-content: center;
    }

    /* Mobile Dropdown adjustment */
    .dropdownMenu {
        position: static;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 0;
        box-shadow: none;
    }
}